<%- include("partials/header") %>

<%- include("partials/nav") %>

<h1 class="text-center m-4">Edit</h1>

<section class="d-flex justify-content-center w-100">
    <div class="bg-dark w-25 p-4 rounded">
        <form action="/product/edit/<%= product.id %> " method="post">
            <label class="m-2">
                <h2 class="text-white">Title</h2>
                <input type="text" name="title" value="<%= product.title %>" id="">
            </label>
            <label class="m-2">
                <h2 class="text-white">Price</h2>
                <input type="number" name="price" value="<%= product.price %>" id="">
            </label>
            <label class="m-2">
                <h2 class="text-white">description</h2>
                <input type="text" name="description" value="<%= product.description %>" id="">
            </label>
            <label class="m-2">
                <h2 class="text-white">Stock</h2>
                <input type="number" name="stock" value="<%= product.stock %>" id="">
            </label>
            <label class="m-2">
                <h2 class="text-white">Thumbnail</h2>
            </label>
            <div class="text-center">
                <button type="submit" class="btn btn-info w-50 rounded">Edit</button>
            </div>
        </form>
    </div>
</section>

<%- include("partials/footer") %> 