<%- include("partials/header") %> 

<h1>Edit</h1>

<section class="w-50 border border-primary">
    <form action="/product/edit/<%= product.id %> " method="post">
        <label for="">
            <h2>Title</h2>
            <input type="text" name="title" value="<%= product.title %>" id="">
        </label>
        <label for="">
            <h2>Price</h2>
            <input type="number" name="price" value="<%= product.price %>" id="">
        </label>
        <label for="">
            <h2>description</h2>
            <input type="text" name="description" value="<%= product.description %>" id="">
        </label>
        <label for="">
            <h2>Stock</h2>
            <input type="number" name="stock" value="<%= product.stock %>" id="">
        </label>
        <label for="">
            <h2>Thumbnail</h2>
        </label>
        <button type="submit" class="btn btn-info">Edit</button>
    </form>
</section>

<%- include("partials/footer") %> 