<%- include("partials/header") %> 

<h1>Main</h1>

<table>
    <thead>
        <tr>
            <th>Nº</th>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < products.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= products[i].title %> </td>
                <td><%= products[i].price %> </td>
                <td><%= products[i].description %> </td>
                <td>
                    <a href="/cart/add/<%= products[i].id %> ">Add to cart</a>
                    <a href="/product/view/<%= products[i].id %> ">View product</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<section>
    <table>
        <thead>
            <tr>
                <th>Nº</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < cart.length; i++) { %>
                <tr>
                    <td><%= i + 1 %> </td>
                    <td><%= cart[i].product %> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <% } %>  
        </tbody>
    </table>
</section>

<%- include("partials/footer") %> 