<%- include("partials/nav") %> 

<%- include("partials/header") %> 

<h1>Product</h1>

<article>
    <h2><%= product.title %> </h2>
    <p><%= product.description %> </p>
    <h3><%= product.price %> </h3>
    <h3><%= product.stock %> </h3>
</article>

<section>
    
</section>

<%- include("partials/footer") %> 